.form {
  margin-bottom: 2rem;
}

.recuperar {
  display: inline-block;
  color: #666;
  padding: 0.5rem 0;
  line-height: 1;
}

.recuperar::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: currentColor;
  opacity: 0.5;
}

.cadastro {
  margin-top: 2rem;
}

.cadastro p {
  margin: 0.5rem 0;
}

.subtitle {
  font-family: var(--type-second);
  font-size: 2rem;
  line-height: 1;
}

.subtitle::after {
  content: '';
  display: block;
  clear: both;
  background: #ddd;
  height: 0.5rem;
  width: 3.5rem;
  border-radius: 0.2rem;
}
