* {
  box-sizing: border-box;
  margin: 0px;
  text-decoration: none;
  list-style: none;
}

body {
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
  font-family: var(--type-first);
  color: #333;
  padding-top: 5rem;
}

img {
  max-width: 100%;
  display: block;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}
